<!DOCTYPE html>
<html>
<head>
  <title>Mentex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <nav>
    <ul class="navlist">
     <li id="home"><%= link_to "Home", root_path %></li>
     <li id="ask"><%= link_to "Ask Q", experts_path %></li> 
     <li id="tutorial"><%= link_to "Tutorials", tutorials_path %></li>
     <li id-"faq"><%= link_to "FAQ", root_path %></li>
    </ul>
   </nav>
</div>
<% render_navigation(:expand_all => true) %>
<%= yield %>

</body>
</html>
