<!DOCTYPE html>
<html>
<head>
  <title>Mentex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <nav>
    <ul class="navlist">
     <li><%= link_to "Home", 'welcome#index' %></li>
     <li><%= link_to "Ask Q", 'welcome#index' %></li> 
     <li><%= link_to "Tutorials", 'tutorials#index' %></li>
     <li><%= link_to "FAQ", 'welcome#index' %></li>
    </ul>
   </nav>
</div>
<% render_navigation(:expand_all => true) %>
<%= yield %>

</body>
</html>
